{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src='/static/admin.js' defer></script>
{% endblock %}
{% block body %}
<main class="center">
	<h1>Admin Dashboard</h1>
	<h2>Site Settings</h2>
	<form method="post">
		{% for key, value in site_settings.items() %}
		<label for="{{key}}-input">{{key}}</label>
		<input type="text" value="{{value}}" id="{{key}}-input" name="{{key}}">
		{% endfor %}
		<input type="submit" value="Update" class="btn filled">
	</form>
	<h2>Posts</h2>
	<a href="/admin/create_post" class="btn">Create Post</a>
	<a href="/admin/generate_post" class="btn">Generate Post</a>
	{% for post in posts %}
	<a href="/admin/post/{{post['post_id']}}" class="btn">{{post['title']}}</a>
	{% endfor %}
</main>
{% endblock %}